@use 'colors' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header {
	margin: 2rem 0 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&__img {
		margin: 0 0.5rem;
		max-width: 3rem;
	}
	&__paragraph {
		font-size: 2.2rem;
		font-weight: bold;
	}
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	text-align: center;
	padding: 2em;
	&__header {
		font-size: 2.4rem;
		margin: 0 0 5rem;
		text-align: left;
	}
	&-form {
		&__box {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			max-width: 450px;
			margin: 0 auto 3rem;
			&--label {
				text-align: left;
				align-self: center;
				font-size: 1.2rem;
			}
			&--input {
				border: 1px solid $gray;
				border-radius: 4px;
				outline: none;
				font-size: 1.4rem;
				transition: border 0.2s, padding 0.2s;
				border: 2px solid $gray;
				padding: 0.4rem;
				&:focus {
					padding: 0.4rem;
					border: 2px solid #0052a5;
				}
			}
		}
		&__btn {
			margin-top: 1rem;
			padding: 1.2rem 5em;
			border: none;
			border-radius: 4px;
			outline: none;
			color: #fff;
			background-color: $primary;
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: bold;
			letter-spacing: 1px;
			transition: background-color 0.2s;
			&:hover {
				cursor: pointer;
				background-color: $secondary;
			}
		}
	}
}

.drag-zone {
    padding: 1em 2em;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 3px dashed #888;
	border-radius: 10px;
	text-align: center;
	color: #555;
	font-size: 18px;
	background-color: $bg;
	transition: 0.2s;
    &__paragraph {
        font-size: 1.4rem;
    }
}

.drag-zone.over {
	border-color: $over;
}

.file-list {
    margin: 1rem 0 1rem 0;
    font-size: 1.4rem;
    list-style: none;
}

.new-file {
    display: none;
}

.add-file {
    cursor: pointer;
    color: $primary;
    font-weight: bold;
}

.loading {
  width: 32px;
  height: 32px;
  border: 4px solid #ddd;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  margin: 10px auto;
}

.response {
    margin-top: 3rem;
    font-size: 1.6rem;
    text-wrap: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
	.header {
		position: relative;
		margin: 2rem 0 2rem 0;
	}
	.container {
		&__header {
			font-size: 2.8rem;
			text-align: center;
		}
		&-form {
			text-align: center;
			&__box {
				&--label {
					text-align: left;
					align-self: center;
					font-size: 1.4rem;
				}
				&--input {
					padding: 0.6em;
					font-size: 1.8rem;
					&:focus {
						padding: 0.6em;
						border: 2px solid #0052a5;
					}
				}
			}
			&__btn {
				margin-top: 2rem;
				padding: 1.2rem 4em;
				font-size: 1.8rem;
			}
		}
	}
	.drag-zone {
		max-width: 450px;
		margin: 0 auto;
	}
}
