@use 'colors' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding: 2em;
	&__header {
		font-size: 2.4rem;
		margin: 0 0 3rem;
	}
	&-form {
		&__box {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			&--label {
				align-self: center;
				font-size: 1.2rem;
			}
			&--input {
				padding: 0.5rem;
				border: 1px solid gray;
				border-radius: 2px;
                outline: none;
				font-size: 1.4rem;
			}
		}
	}
}
