@use 'colors' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding: 2em;
	&__header {
		font-size: 2.4rem;
		margin: 0 0 5rem;
	}
	&-form {
		&__box {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			margin-bottom: 3rem;
			&--label {
				align-self: center;
				font-size: 1.2rem;
			}
			&--input {
				padding: 0.8rem;
				border: 1px solid $gray;
				border-radius: 4px;
				outline: none;
				font-size: 1.4rem;
				transition: border 0.2s, padding 0.2s;
				border: 2px solid $gray;
				padding: 0.4rem;
				&:focus {
					padding: 0.4rem;
					border: 2px solid #0052a5;
				}
			}
		}
		&__btn {
			margin: 1rem 0 0 50%;
			transform: translateX(-50%);
			padding: 1.2rem 5em;
			border: none;
			border-radius: 4px;
			outline: none;
			color: #fff;
			background-color: $primary;
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}
}
